* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


img {
  height: 110%;
}

.navLink {
    color: #593431;
    display: flex;
    font-size: 1em;
    align-items: center;
    text-decoration: none;
    padding: 1rem;
    height: 100%;
}

.navLink:hover {
    color: black;
    text-decoration: none; 
}