* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* why wont the logo move to the left */
/* .logo {
    float: left;
    margin-left: 0;
    margin-top: 1%
} */

img {
    height: 130%;
    width: 130%;
}

.navLink {
    color: #072AC8;
    display: flex;
    font-size: 1em;
    align-items: center;
    text-decoration: none;
    padding: 1rem;
    height: 100%;
}

.navLink:hover {
    color: black;
    text-decoration: none; 
}