h3 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 40px;
}

.answer-selection {
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 50%;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}

/* why won't this center hahaha */
/* .prog-bar {

} */
