:root {
    --blue: #7498DA;
    --brown: #593431;
    --pink: #FAF3F0;
}

.login-wrapper {
    background-color: white;
    border-style: solid;
    border-radius: 20px;
    border-color: var(--brown);
    width: 70%;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.loginHead {
    background-color: var(--pink);
    border-style: solid;
    border-radius: 20px;
    border-color: var(--brown);
    width: 90%;
    margin: auto;
    padding: 10px;
    font-family: 'Zilla Slab';
    color: black;
    font-size: 2em;
}

label {
    font-family: "Roboto";
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 50px;
    padding: 10px;
}

p {
    padding: 10px;
    padding-top: 30px;
}

input {
    padding: 10px;
    margin-bottom: 30px;
}