.content {
  background-color: white;
  /* border */
  border-style: solid;
  border-radius: 20px;
  border-color: #1f4d19;
  /* size */
  width: 70%;
  /* position */
  padding: 20px;
  position: relative;
  left: 50%;
  top: 40vh;
  transform: translate(-50%, -50%);
  /* content */
  text-align: center;
}

.consentHead {
  background-color: #faf3f0;
  border-style: solid;
  border-radius: 20px;
  border-color: #1f4d19;
  width: 90%;
  margin: auto;
  padding: 10px;
  font-family: "Zilla Slab";
  color: #1f4d19;
  font-size: 2em;
}

.copyAndButtons {
  overflow: scroll;
  height: 400px;
}

p {
  font-family: "roboto";
  padding: 40px;
}

button {
  background-color: #593531;
  color: #faf3f0;
  padding: 10px;
  border: solid white;
  border-radius: 12px;
}

.registrationForm {
  position: relative;
  width: 60vw;
  /* left: 20vw; */
  top: 20vh;
}
