/* :root {
  --blue: #7498DA;
  --brown: #593431;
  --pink: #FAF3F0;
}

.content {
  background-color: white;
  border-style: solid;
  border-radius: 20px;
  border-color: var(--brown);
  width: 70%;
  padding: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.consentHead {
  background-color: var(--pink);
  border-style: solid;
  border-radius: 20px;
  border-color: var(--brown);
  width: 90%;
  margin: auto;
  padding: 10px;
  font-family: 'Zilla Slab';
  color: black;
  font-size: 2em;
}

.copyAndButtons {
overflow: scroll;
height: 400px;
}

p {
font-family: "roboto";
padding: 40px;
} */


.registrationForm {
  position: relative;
  width: 60vw;
  /* left: 20vw; */
  top: 20vh;
}

:root {
  --blue: #7498DA;
  --brown: #593431;
  --pink: #FAF3F0;
}

.register-content {
  max-height: 65vh;
  overflow: scroll;
  background-color: white;
  border-style: solid;
  border-radius: 20px;
  border-color: var(--brown);
  width: 100%;
  padding: 20px;
  position: absolute;
  left: 20%;
  top: -100px;
  /*transform: translate(-50%, -50%);*/
  text-align: center;
}

.consentHead {
  background-color: var(--pink);
  border-style: solid;
  border-radius: 20px;
  border-color: var(--brown);
  width: 90%;
  margin: auto;
  padding: 10px;
  font-family: 'Zilla Slab';
  color: black;
  font-size: 2em;
}

p {
  font-family: "roboto";
  padding: 40px;
}
